/* remove blue highlight */
input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
  --cells-wide: 6;
  --cells-high: 6;
  --cell-width: 50px;
  --cell-height: 50px;
  --cell-width-m: calc(var(--cell-width) + 4px);
  --cell-height-m: calc(var(--cell-height) + 4px);
}

html,
body {
  background-color: #201f20;
  overscroll-behavior: none;
}

.grid {
  width: calc(var(--cell-width-m) * 8);
  height: calc(var(--cell-height-m) * 8);
  margin: 30px auto;
  background-color: #392F5A;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  box-shadow: 0px 8px 12px black;
}

.grid.player-1 {
  position: fixed;
  margin: 30px;
  left: 30px;
}

.grid.player-2 {
  position: fixed;
  margin: 30px;
  right: 30px;
}

.cell {
  display:inline-block;
  width: var(--cell-height);
  height: var(--cell-height);
  margin: 2px;
  position: absolute;
  transition: all 0.07s;
  transform: translate(16px, 16px) scale(1, 1) rotate(0deg);
  border-radius: 10px;
  box-shadow: 0px 2px 2px #201f20;
}

.remove {
  transition: all 0.1s;
  transform: translate(16px, 16px) scale(0, 0) rotate(90deg);
}

.color1 {
  background-color: #FF9933;
  border: 2px solid #FF9933;
}

.color2 {
  background-color: #F4D06F;
  border: 2px solid #F4D06F;
}

.color3 {
  background-color: #C091CA;
  border: 2px solid #C091CA;
}

.color4 {
  background-color: #5DC0B5;
  border: 2px solid #5DC0B5;
}

.cursor {
  height: calc((var(--cell-height-m) + 12px) * 2);
  width: calc((var(--cell-width-m) + 12px) * 2);
  position: absolute;
  border: 6px solid #C3DFE0;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  transition: all 0.05s;
  transform: translate(8px, 8px);
  z-index: 5;
}
.cursor:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid #201f20;
  border-radius: 20px;
}

.score {
  position: absolute;
  left: calc(50% - 150px);
  bottom: -40px;
  width: 300px;
  height: 42px;
  background-color: #392F5A;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  font-family: monospace;  
  font-weight: bold;
  color: white;
  font-size: 26px;
  z-index: 0;
  border-top: 2px solid #392F5A;
}
.score:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -0px;
  left: -0px;
  right: -0px;
  bottom: -0px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 8px 12px black;
}

.timerContainer {
  color: white;
  background: #392f5a;
  display: inline-block;
  padding: 10px;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  font-weight: bolder;
  position: absolute;
  width: 364px;
  left: calc(50% - 200px);
  top: -12px;
}
.timerContainer.player-1 {
  left: 90px;
}
.timerContainer.player-2 {
  left: initial;
  right: 90px;
}

.timerStopped {
  color: #ff4b33;
}
.timerEnded {
  color: #73C05D;
}

.bonusTimer {
  color: #73C05D;
  display: inline-block;
  right: 25px;
  opacity: 0;
  top: 30px;
  transition: all 0.2s;
  overflow: auto;
  position: absolute;
}
.showBonusTimer {
  opacity: 1;
  top: 10px;
}

.clickPoint {    
  cursor: pointer;
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 9;
  border-radius: 20px;
  transform: translate(-38px, -38px);
}